/examples
/.claude
/coverage
/run.bat
/coverage.bat
/test.bat
/build.bat
*.dcu
*.json
*.dproj.local
*.exe
*.res
*.rsm
*.md
*.drc
*.map
*.xml
*.~*
*.wcx
*.wcx64
/app/*.identcache
/wcx_build.bat
/wcx/*.identcache
/*.zip
/release.bat
/wcx/Win64/Release/gemini.ini
